<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.nicheblog.dreamdiary.feature.clsf.comment.repository.mybatis.CommentMapper">

    <!-- 삭제 데이터 조회 -->
    <select id="getDeletedById" resultType="io.nicheblog.dreamdiary.feature.clsf.comment.model.CommentDto">
        /* CommentMapper.getDeletedById */
        SELECT
            comment.id AS id,
            comment.ref_id AS refId,
            comment.ref_content_type AS refContentType
        FROM comment comment
        WHERE comment.id = #{id}
    </select>
</mapper>
