<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.nicheblog.dreamdiary.feature.jrnl.day.repository.mybatis.JrnlDayMapper">

    <!-- 삭제 데이터 조회 -->
    <select id="getDeletedById" resultType="io.nicheblog.dreamdiary.feature.jrnl.day.model.JrnlDayDto">
        /* JrnlDayMapper.getDeletedById */
        SELECT
            day.id,
            day.created_by,
            day.yy,
            day.mnth
        FROM jrnl_day day
        WHERE day.id = #{id}
    </select>
</mapper>
