<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.nicheblog.dreamdiary.feature.jrnl.intrpt.repository.mybatis.JrnlIntrptMapper">

    <resultMap id="JrnlIntrptMap" type="io.nicheblog.dreamdiary.feature.jrnl.intrpt.model.JrnlIntrptDto">
        <id property="id" column="id"/>
        <result property="regstrId" column="regstr_id"/>
        <result property="jrnlDreamId" column="jrnl_dream_id"/>
        <result property="jrnlDayId" column="jrnl_day_id"/>
        <result property="idx" column="idx"/>
        <result property="yy" column="yy"/>
        <result property="mnth" column="mnth"/>
    </resultMap>

    <!-- 삭제 데이터 조회 -->
    <select id="getDeletedById" resultMap="JrnlIntrptMap">
        /* JrnlIntrptMapper.getDeletedById */
        SELECT
            intrpt.id,
            intrpt.regstr_id,
            intrpt.jrnl_dream_id,
            intrpt.idx,
            day.id AS jrnl_day_id,
            day.yy,
            day.mnth
        FROM jrnl_intrpt intrpt
            LEFT JOIN jrnl_dream dream ON intrpt.jrnl_dream_id = dream.id
            LEFT JOIN jrnl_day day ON dream.jrnl_day_id = day.id
        WHERE intrpt.id = #{id}
    </select>

    <!-- 인덱스 갱신을 위한 전체 객체 조회 -->
    <select id="findAllForReorder" resultMap="JrnlIntrptMap">
        /* JrnlIntrptMapper.findAllForReorder */
        SELECT *
        FROM jrnl_intrpt
        WHERE jrnl_dream_id = #{jrnlDreamId} AND del_yn = 'N'
        ORDER BY idx
    </select>

    <!-- 인덱스 갱신 -->
    <update id="batchUpdateIdx">
        /* JrnlIntrptMapper.batchUpdateIdx */
        <foreach collection="list" item="item" separator=";">
            UPDATE jrnl_intrpt
            SET idx = #{item.idx}
            WHERE id = #{item.id} AND del_yn = 'N'
        </foreach>
    </update>
</mapper>
