<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.nicheblog.dreamdiary.feature.jrnl.chapter.repository.mybatis.JrnlChapterMapper">

    <resultMap id="JrnlChapterMap" type="io.nicheblog.dreamdiary.feature.jrnl.chapter.model.JrnlChapterDto">
        <id property="postNo" column="post_no"/>
        <result property="regstrId" column="regstr_id"/>
        <result property="jrnlDayNo" column="jrnl_day_no"/>
        <result property="idx" column="idx"/>
        <result property="yy" column="yy"/>
        <result property="mnth" column="mnth"/>
    </resultMap>

    <!-- 삭제 데이터 조회 -->
    <select id="getDeletedByPostNo" resultMap="JrnlChapterMap">
        /* JrnlChapterMapper.getDeletedByPostNo */
        SELECT
            entry.post_no AS postNo,
            entry.regstr_id AS regstr_id,
            entry.jrnl_day_no AS jrnlDayNo,
            entry.idx,
            day.yy AS yy,
            day.mnth AS mnth
        FROM jrnl_chapter entry
        LEFT JOIN jrnl_day day
            ON entry.jrnl_day_no = day.post_no
        WHERE entry.post_no = #{postNo}
    </select>

    <!-- 인덱스 갱신을 위한 전체 객체 조회 -->
    <select id="findAllForReorder" resultMap="JrnlChapterMap">
        /* JrnlChapterMapper.findAllForReorder */
        SELECT *
        FROM jrnl_chapter
        WHERE jrnl_day_no = #{jrnlDayNo} AND del_yn = 'N'
        ORDER BY idx
    </select>

    <!-- 인덱스 갱신 -->
    <update id="batchUpdateIdx">
        /* JrnlChapterMapper.batchUpdateIdx */
        <foreach collection="list" item="item" separator=";">
            UPDATE jrnl_chapter
            SET idx = #{item.idx}
            WHERE post_no = #{item.postNo} AND del_yn = 'N'
        </foreach>
    </update>
</mapper>
